<nav class="navbar navbar-light bg-dark">
    <a href="/" class="navbar-brand">
        <img src="/img/dfo9g3u-c21ca450-2e9b-4658-a458-9ecbab3b983d.jpg" width="70" height="40" alt="">
    </a>
</nav>