<%- include ('partials/header.ejs') %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <h1>Pergunta não encontrada</h1>
    <a href="/" class="btn btn-primary">Voltar para pagina inicial</a>
</body>
<%- include('partials/footer') %>